// Estilos para componente button
@use "base/variables" as v;
@use "base/mixins" as m;

.button {
  width: auto;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 3px;
  transition-duration: 500ms;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: v.$primaryLight;
    cursor: not-allowed;
    opacity: 0.7;
  }

  // Tipos
  &--outlined {
    background-color: none !important;
    border: 1px solid v.$midGray;
    color: v.$darkGray;
    font-weight: 400;
    flex: 1;
  }

  &--primary {
    background-color: v.$primary;
    color: v.$white;
  }

  &--secondary {
    background-color: v.$secondary;
    color: v.$white;
  }

  &--danger {
    background-color: v.$danger;
    color: v.$white;
    border: 3px solid v.$danger;
  }

  &--success {
    background-color: v.$success;
    color: v.$white;
    border: 3px solid v.$success;
  }

  &--info {
    background-color: v.$info;
    color: v.$white;
    border: 3px solid v.$info;
  }

  &--warning {
    background-color: v.$warning;
    color: v.$white;
    border: 3px solid v.$warning;
  }

  &--dark {
    background-color: v.$black;
    color: v.$white;
    border: 3px solid v.$black;

    &:hover {
      background-color: v.$white;
      color: v.$black;
      cursor: pointer;
      transition: all 0.4s ease-in-out 0s;
    }
  }

  &--light {
    background-color: v.$white;
    color: v.$black;
    border: 3px solid v.$white;

    &:hover {
      background-color: v.$black;
      color: v.$white;
      cursor: pointer;
      transition: all 0.4s ease-in-out 0s;
    }
  }

  // Tamaños
  &--small {
    width: 8rem;
    padding: 1rem 0.6rem;
    font-size: 1.4rem;
  }

  &--medium {
    // max-width: 12rem;
    padding: 1rem;
    font-size: 1.5rem;
  }

  &--large {
    width: 100% !important;
    padding: 1.5rem;
    font-size: 1.8rem;
  }
}

.bordered {
  border: 2px solid v.$black !important;
}

.circle {
  border-radius: 50%;
}

.box-shadow {
  box-shadow: v.$box_shadow;
}

.full-width {
  width: 100%;
}
