// Estilos para componente footer
@use "base/mixins" as m;
@use "base/variables" as v;

.footer {
  margin-top: 6rem;
  padding: 4rem 3rem;
  background-color: v.$primary;
  &__content {
    text-align: center;
    p {
      color: v.$white !important;
    }

    a {
      font-weight: bold;
    }
  }
}
