// Variables generales para estilos //

// Paleta de colores

$primary: #ff6d60;
$secondary: #455a64;

$primaryLight: #fa877d;
$primaryDark: #e74638;

$secondaryLight: #7395a5;
$secondaryDark: #2c3a41;

$darkGray: #555555;
$midGray: #8f8f8f;
$lightGray: #eceeef;

$white: #fff;
$black: #000;

$success: #5edb3f;
$info: #55cbfa;
$warning: #d6d300;
$danger: #ff4d4d;

// Tamaños

$phone: 500px;
$tablet: 768px;
$desktop: 1024px;

//Separaciones

$separation: 5rem;

// Fuentes de texto

$main_font: "Inter";
$secondary_font: "Source Sans Pro";

// Sombras
$box_shadow: 1px 4px 5px -3px rgba(0, 0, 0, 0.75);
